.header {
    background: rgba(255, 255, 255, 1);
}  

.header__inner {
    margin: 0 auto;
    border: 1px solid rgba(224, 223, 222, 1)
}
  
.header__logo {
    color: rgba(139, 121, 105, 1);
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

  .header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__item {
    margin-right: 70px;
    border: 1px solid rgba(217, 198, 181, 1)
}


.header-nav__link {
    text-decoration: none;
    background: rgba(240, 240, 240, 0.6);
    color: rgba(217, 198, 181, 1);
    padding: 2px 20px;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.admin__heading {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: rgba(139, 121, 105, 1)
}

.search-form {
    display: flex;
    justify-content: center;
    }


.search-form__item-input {
    margin-right: 20px;
    outline:0;
    background: rgba(251, 251, 251, 1);
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(227, 222, 217, 1)
}

.search-form__item-select {
    margin-right: 20px;
    border:none;
    outline:0;
    background: rgba(251, 251, 251, 1);
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(227, 222, 217, 1)
}

.search-form__button-submit {
    margin-right: 20px;
    border:none;
    outline:0;
    color: rgba(255, 255, 255, 1);
    background: rgba(130, 117, 106, 1);
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(139, 121, 105, 1)
}

.search-form__item-reset {
    margin-right: 20px;
    border:none;
    outline:0;
    color: rgba(255, 255, 255, 1);
    background: rgba(217, 198, 181, 1);
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(217, 198, 181, 1)
}

.export-form__button-submit {
    margin-top: 20px;
    margin-left: 180px;
    padding: 8px 20px 8px 20px;
    border:none;
    outline:0;
    color: rgba(139, 121, 105, 1);
    background: rgba(225, 219, 214, 0.6);
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(217, 198, 181, 1)
}
