.header {
    background: rgba(255, 255, 255, 1);
  }
  
  .header__inner {
    margin: 0 auto;
    border: 1px solid rgba(224, 223, 222, 1)
  }  
  
  .header__logo {
    color: rgba(139, 121, 105, 1);
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
      
  }
  
  .header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .confirm__heading {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: rgba(139, 121, 105, 1)
  }

.confirm-table__row {
    border: 1px solid rgba(224, 223, 222, 1)
}

.confirm-table__header {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background: rgba(186, 168, 153, 1);
    color: rgba(255, 255, 255, 1);
}

.confirm-table__inner {
    margin: 0 auto;
    border: 1px solid rgba(224, 223, 222, 1)
}

.correction__link {
    color: rgba(139, 121, 105, 1);
    display: flex;
}


.form__submit {
    text-align: center;
    padding-top: 20px;
}

.form__button {
    display: flex;
    justify-content: center;
}
  
.form__button-submit {
    color: rgba(255, 255, 255, 1);
    padding: 5px 30px 5px 30px;
    background: rgba(130, 117, 106, 1);
    border: none;
}

.correction__link {
    padding-left: 40px;
}